.contenedor-general {
    .contenedor-1 {
        .barra-menu {
            .iconos {
                .seccion-home {
                    @extend .seccion-out;
                    .icon-home {
                        @extend .icon-out;
                        filter: saturate(0%);
                        &:hover {
                            filter: saturate(100%);
                        }
                    }
                    .name-home {
                        @extend .name-out;
                    }
                    &:hover {
                        transition: 1s;
                        height: 8vh;
                        .icon-home {
                            filter: saturate(100%);
                            @extend .icon-hover-out;
                        }
                        .name-home {
                            @extend .name-hover-out;
                        }
                    }
                }

                .seccion-about-in {
                    @extend .seccion-in;
                    .icon-about-in {
                        @extend .icon-in;
                        border: solid 1px white;
                    }
                    .name-about-in {
                        @extend .name-in;
                    }
                }
            }
        }
    }
    .contenedor-2{
        .contenedor-divisor {
            border: solid 1px white;
            display: flex; 
            justify-content: center; 
            align-items: center;
            height: 60vh; width: 80%;
            border-radius: 2vh;
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            .contenedor-texto-about {
                display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;
                width: 90%; height: 100%;
                p {
                    text-align: center;
                    font-size: 2vh;
                    padding: 4vh 8vh;
                    border-radius: 2vh;
                    background-color: rgba(255, 255, 255, 0.4);
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                }
            }
        }
    }
}