* {
    padding: 0px; margin: 0px;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    color: rgb(100, 100, 100);
}
h1 {
    font-size: 6.1vh;
    /* text-shadow: 0px 0px 5px white; */
}
h2 {
    padding-left: 6.5vh;
    padding-top: 0.2vh;
    font-size: 2vh;
}